
html{
  scroll-behavior: smooth;
  /* overflow-y: hidden; */
}
body{
  background-color: black;
}
ul li:hover{
   border-bottom: 1px red solid;
  }
/* ...........NAVBAR............. */
.navbar{
  background-color: rgb(28, 25, 34);
  /* height: 10vh; */
}
.navbar-brand{   
   font-family: 'Shadows Into Light', cursive;
   background: linear-gradient(#e66465, #9198e5);
}

/* .....................HOME................... */
.main{
  background-color: rgb(34, 34, 34);
  height: 70vh;
  width: 100vw;
}
.textside{
  height: 80vh;
  width: 50vw;
  margin-top: 40vh;
  margin-left: 3vh;
}
.textside .textarea1{
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  color: aliceblue;
}
.textside .textarea2{
  font-family: 'Source Code Pro', monospace;
  color: whitesmoke;
}


/* ..................languagebar................. */

.language{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech{
  color: rgb(188, 188, 188);
}
/* TEXPERIANCE TITLE  */
.EPtitle{
  text-transform: uppercase;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* knowledge */
.knowledge{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-weight: 100;
}


/* ..............ABOUT............ */

.Experience{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
}
.informations{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.year{
  color: rgb(10, 234, 159);
}
.discriptions{
  color: rgb(219, 216, 216);
  width: 45vw;
}

/* ..................PROJECT SECTION CSS..................... */

.ProjectInfo{
  height:auto;
  width:100vw;
  background-color: rgb(12, 17, 51);
  color: aliceblue;
}
.Projects{
  font-family: 'Source Code Pro', monospace;
  color: aliceblue;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ProjectHeading{
  color: aquamarine;
}

/* ..................CONTACT FORM .................. */
.mycontactform{
  background-color: rgb(32, 32, 69);
  color: aliceblue;
}

/* .........................FOOTER.................... */
.footer{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(248, 61, 83);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content:center ;
}
#contactme{
  text-decoration: none;
  color: rgb(248, 61, 83);
}
 .name:hover{
  color: aqua;
}
.footer #contactme:hover{
  color: aqua;
}